.ordina {
    background-image:url(Immagini/sfondo.jpg);
}
h1.ordinaonline {
    color: white;
    font-size: 65px;
    font-weight: bold;
}
#ordinap {
    color: white;
    font-family: serif;
    font-size: 20px;
}
button.prenotabtn{
    border-radius: 40px;
}

button.continua {
    border-radius: 40px;
    font-size: 20px;
}

#welcome {
    font-size: 40px;

}
#continua {
    border-radius: 40px;
    font-size: 20px;
}
.pOrdina {
    text-align: left;
}
#titolo {
    font-size: 80px;
}
.app {
    background-color: black;
}

.appdue {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 20px;
}

.contattaci {
    color: white;
}
.contattaci2 {
    background-image: url(Immagini/background4.jpg)
}
#confermo{
    color: white;
}
#richiesta {
    border-radius: 40px;
}

#richiesta:hover {
    background-color: white;
    color: black;
}
.informazioni {
    background-color: black;
}
#txt {
    color: white;
}
#txt2{
    color: white;
    font-size: 14px;
}

.pcol {
    text-align: right;

} 
.scol {
    text-align: center;

}
.tcol {
    text-align: left;
}
#arrow {
    float: right;
    padding-top: 5px;
}
#barranav{
    background-color: black;
}
#para{
    color: white;
}
.foot {
    background-color: black;
}
/*  Sushi Experience   */
.box-green {
    font-size: 14px;
    max-width: 400px;
    padding: 20px;
    margin: 30px auto 0;
    text-align: center;
    background-color: rgba(203, 209, 23, 0.9);
    border-radius: 20px;
}
.sushiex{
    background-image: url(Immagini/background4.jpg);
}
#enjoy {
    color: white;
    font-family: monospace;
}
.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#psushiex{
    font-size: 16px;
    color: white;
    font-family:inherit;
}
.containerprincipale{
    background-image: url(Immagini/background4.jpg);
}
#hsushiex {
    color: brown;
    font-family: monospace;
}
.centereat{
    background-color: white;
}
.backeat{
    background-color:mediumseagreen;
}
#peatsushiback1{
    padding-top: 30px;
    font-size: 18px;
}
#peatsushiback2{
    color: white;
    font-size: 28px;
}
#imgcatering {
    text-align: left;
    border-style: groove;
}
.c1{
    text-align: center;
    background-color: #e6ac00;
}
.c2{
      text-align: center;
    background-color: #ffdb4d;
}